.hi {
    font-style: small-caps;
    background: red;
    padding-left: 18px;
}

.red {
    background-color: red;
}

.h1 {
    color: red; 
    text-align: right;
}

code {
    background: #eee;
    padding: 2px 5px;
    border-radius: 3px;
}

.task№5 {
    background-color: #e5e6fa;
    width: 400px;
    height: 100px;
    margin-left: 39%;
}

.task№5CSS {
    align-items: center;
    color: purple;
    text-shadow: 4px 2px 1px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    margin: 0;
}

.task№5Text {
    margin: 0;
    font-size: 30px;
    color: rgb(223, 1, 223);
}

.task№6 {
    width: 600px;
    height: 500px;
    background-color: #00feff;
    margin-left: 34%;
}

.task№6Text {
    font-size: 20px;
}

.task№6Text::first-letter {
    margin: 0;
    color: green;
    font-size: 55px;
    font-weight: 700;
    line-height: 1;
    float: left;
}

.task№6TextO {
    margin: 0;
}

.task№7 {
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 20px;
}

.task№7Text {
    font-size: 14px;
    font-family: 'Monotype Corsiva', cursive;
}

.task№7img {
    width: 400px;
    height: 200px;
    border: 10px solid blue;
}

.table {
    border: 10px solid blue;
    border-collapse: collapse; 
    width: 100%; 
}

.th {
    background-color: yellow; 
    color: red; 
    border: 3px red dashed; 
    padding: 10px; 
}

.td {
    background-color: green; 
    border: 2px solid yellow; 
    padding: 10px; 
}

.task№9 {
    width: 750px;
    height: 450px;
    background-color: #ff66ff;
    margin-left: 30%;
}

.photo {
    width: 100px;
    height: 100px;
    margin-left: 43%;
}

.table2 {
    border: 5px solid crimson;
    background-color: #cf9509;
}

.th2 {
    border: 3px dashed crimson;
    background-color: #c9956c;
    color: blue;
}

.task№9Table {
    border: 5px solid crimson;
    display: inline-block;
    padding: 3px; 
    margin-left: 32%;
}

.td2 {
    background-color: #cf9509;
    border: 4px solid crimson;
}




