.kaiser1 {
    position: absolute LEFT 50px;
    top: 50px;
    width: 100px;
    height: 100px;
}

.kaiser2 {
    left: 25px; 
    width: 200px; 
    height: 200px;
    z-index: 0;
    margin-bottom: -150px;
}

.text { 
    left: 50px;
    margin-left: 30px;
    z-index: 1px; 
    font-size: 30px; 
    color: red;
}

.kaiser3 {
    position: absolute LEFT 20px;
    top: 20px;
    width: 200px;
    height: 200px;
    z-index: 0;
}

.image1{
    width: 200px;
    height: 200px;
    margin-right: -120px;
    margin-bottom: 50px;
}

.image2{
    width: 200px;
    height: 200px;
}

.image3{
    width: 200px;
    height: 200px;
    margin-left: -120px;
    margin-bottom: -50px;
}

.Moskva{
    width: 400px;
    margin-right: -325px;
    margin-bottom: -40px;
}

.Moskva2{
    width: 250px;
    height: 150px;
}

.NewYear {
    color: red;
    font-size: 40px;
    margin-top: -150px;
    margin-left: 20px;
}

.divv {
    margin-left: 39%;
}

.snow {
    width: 300px;
    height: 150px;
    margin-bottom: -150px;
}

.Text1{
color: red;
font-size: 40px;
margin-bottom: 0;
}

.Text2{
color: blue;
font-size: 40px;
margin-top: -37px;
margin-left: 20px;
margin-bottom: 0;
}

.Text3{
color: green;
font-size: 40px;
margin-top: -37px;
margin-left: 40px;
}

.happy {
    width: 500px;
    height: 350px;
    margin-bottom: -280px;
}

.sun{
    width: 350px;
    height: 225px;
    border: 13px solid yellow;
}

.HappyText {
    color: rgb(0, 212, 212);
    font-size: 50px;
    margin-top: -240px;
    margin-left: -200px;
}

.HappyText2 {
    color: rgb(0, 212, 212);
    font-size: 50px;
    margin-right: -260px;
}

.fonn {
    width: 600px;
    height: 400px;
    margin-bottom: -350px;
}

.summer {
    width: 400px;
    height: 300px;
    border: 13px dashed rgb(145, 12, 39);
}

.Teext {
    margin-top: -375px;
    margin-left: -290px;
    color: crimson;
    font-size: 30px;
}

.fonnn {
    width: 700px;
    height: 400px;
    margin: 0;
}

.ramka {
    width: 220px;
    height: 300px;
    position: relative;
    margin-bottom: -400px;
}

.bachira {
    width: 170px;
    height: 280px;
    margin-top: -500px;
    margin-left: -460px;
    margin-bottom: -380px;
    position: relative;
    transition: transform 0.5s;
}

.bachira:hover {
    transform: scale(1.3);
}

.isagi {
    width: 170px;
    height: 280px;
    margin-top: -500px;
    margin-bottom: -360px;
    position: relative;
    transition: .5s;
} 

.isagi:hover {
    transform: scale(1.3);
}

.nagi {
    width: 170px;
    height: 280px;
    margin-top: -500px;
    margin-right: -450px;
    margin-bottom: -350px;
    position: relative;
    transition: .5s;
} 

.nagi:hover {
    transform: scale(1.3);
}

.gallery {
    color: blue;
    font-size: 25px;
    margin: 0;
    margin-bottom: -110px;
    position: relative;
}

.fonono {
    width: 500px;
    height: 400px;
    margin-top: -110px;
}

.roze {
    width: 300px;
    height: 300px;
    margin-bottom: -280px;
    position: relative;
}

.one {
    font-size: 35px;
    position: relative;

}